<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/top.css'/>
</head>
<body>

<% include _header %>

<div class="main">
    <div class="container">
        <div class="row">
            <h1><%= displayTitle %></h1>

            <h2>Teams</h2>
            <form method="post">
                <table class="table table-striped">
                    <thead><tr><th>id</th><th>name</th><th>description</th><th>#</th></tr></thead>
                    <tbody class="vote-items">
                    <% voteItems.forEach(function (voteItem, idx) { %>
                    <tr>
                        <td>
                            <p><%= voteItem._id %></p>
                            <input type="hidden" name="voteItems[<%= idx%>][_id]" value="<%= voteItem._id %>"  />
                        </td>
                        <td><input tyee="text" class="form-control" name="voteItems[<%= idx%>][name]" value="<%= voteItem.name %>" /></td>
                        <td><input tyee="text" class="form-control" name="voteItems[<%= idx%>][description]" value="<%= voteItem.description %>" /></td>
                        <td><button type="button" href="#" class="btn btn-sm btn-danger remove-btn"><i class="glyphicon glyphicon-remove"></i></button></td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>
                <div>
                    <button type="button" class="btn btn-primary add-btn">Add Item</button>
                    <button type="submit" class="btn btn-success submit-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- include javascripts -->
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/routes/admin_vote_items.js"></script>

</body>
</html>
