<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/vote.css'/>
</head>
<body>

<% include _header %>

<div class="main">
    <div class="container">
        <div class="row">
            <h1><%= displayTitle %></h1>

            <% if (result === 'success') { %>
            <div class="alert alert-success">投票が完了しました。</div>
            <% } %>

            <% if (result === 'danger') { %>
            <div class="alert alert-danger">投票に失敗しました。</div>
            <% } %>

            <% if (initError) { %>
            <div class="alert alert-danger">初期化エラーが発生しました。</div>
            <% } %>

            <form method="post" class="vote-form">
                <div class="teams">
                    <% votes.forEach(function (team) { %>
                    <div class="team panel panel-default">
                        <div class="panel-heading">
                            <h2 class="team-name"><%= team.team.name %></h2>
                            <p class="team-application-name"><%= team.team.applicationName %></p>
                            <p class="team-members">
                                <% team.team.users.forEach(function (user) { %>
                                <span class="label label-info"><%= user.username %></span>
                                <% }); %>
                            </p>
                        </div>

                        <ul class="list-group vote-items">
                            <% team.voteItems.forEach(function (voteItem) { %>
                            <li class="list-group-item vote-item">
                                <h3 class="item-name"><%= voteItem.item.name %></h3>
                                <pre class="item-description help-block"><%= voteItem.item.description %></pre>

                                <% var optionName = 'vote[' + team.team._id + '][' + voteItem.item._id + ']'; %>
                                <% ['低い (1pt)', 'やや低い (2pt)', 'やや高い (3pt)', '高い (4pt)'].forEach(function (name, idx) { %>
                                <% var checked = voteItem.value === idx + 1; %>
                                <label class="radio-inline">
                                    <input type="radio" name="<%= optionName %>" value="<%= (idx + 1) %>" <%= checked ? 'checked' : '' %> required> <%= name %>
                                </label>
                                <% }); %>
                            </li>
                            <% }); %>
                        </ul>
                    </div>
                    <% }); %>
                </div>

                <button type="submit" class="btn btn-success">投票する</button>
            </form>
        </div>
    </div>
</div>

<!-- include javascripts -->
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
